<div class="container">
    <div class="row">

    </div>
    <div class="row mid">
        <div class="col-sm-8 caseta">

        </div>
        <div class="col-sm-4 news mat-elevation-z8">
                <table mat-table [dataSource]="stiri">
                        <ng-container matColumnDef="titlu">
                            <th mat-header-cell *matHeaderCellDef> Titlu </th>
                            <td mat-cell *matCellDef="let element"> {{element.titlu}} </td>
                        </ng-container>
                        <ng-container matColumnDef="continut">
                            <th mat-header-cell *matHeaderCellDef> Continut </th>
                            <td mat-cell *matCellDef="let element"> {{element.continut}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                        <mat-paginator #paginator [pageSize]="pageSize"
                        [showFirstLastButtons]="true" [length]="totalSize"
                        [pageIndex]="currentPage"
                        [pageSizeOptions]="pageSizeOptions"
                        (page)="pageEvent = getStiri($event)">

                        </mat-paginator>
                        
                </table>
        </div>
    
      </div>
      <div class="row">
        <div class="col-sm despre">
          prima coloana
        </div>
        <div class="col-sm tranzactii">
          a 2la coloana
          </div>
          <div class="col-sm contact">
            a 3a coloana
            </div>
      </div>
  </div>