<img src="{{baseUrl}}/images/pic.png">
<ngb-carousel>
        <ng-template ngbSlide>
          <img src="{{baseUrl}}/images/carousel/img1.png" alt="Random first slide" class="car">
          <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="{{baseUrl}}/images/carousel/img5.png" alt="Random second slide" class="car">
          <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="{{baseUrl}}/images/carousel/img6.png" alt="Random third slide" class="car">
          <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </ng-template>
</ngb-carousel>
<div class="up">
  <input id="file" type="file"/>
  <button type="button" class="btn btn-success btn-s" (change)="handleFileInput($event.target.files)">
    Upload
  </button>
</div>